.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  width: 100%;
  height: auto;
}

.navbar img {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: auto;
  margin: 1em 5em 1em 8em;
}

.navLinks {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: right;
  margin: 3em 8em 0 0;
}

.navLinks a {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 0 1.5em 0 1.5rem;
  font-size: large;
  font-family: "Karla", sans-serif;
}

/* Intro */
.intro-green {
  width: 100%;
  background-color: #495e57;
  display: flex;
  height: 420px;
  margin-bottom:10rem
}

.intro-text {
  margin: 4rem 2rem 0 14rem;
  inline-size: 500px;

}

.intro-text h1 {
  color: #f4ce14;
  font-size: 60px;
  font-family: "Markazi Text";
  font-weight: bold;
  margin-bottom: -1rem;
}

.intro-text h2 {
  color: white;
  font-size: 25px;
}

.intro-text h2, p {
  color: white;
  font-family: "Karla";
}

.intro-text button {
  background-color: #f4ce14;
  color: black;
  border: none;
  padding: 1rem;
  border-radius: 16px;
  font-size: 16px;
  margin-top: 1rem;
  font-weight: bold;
}

.intro-img {
  width: 50%;
  margin-top: 5rem;
  margin-left: 20rem;
}

.intro-img img {
  width: 55%;
  height: 480px;
  border-radius: 15px;
}

/* Specials */

.specials {
  margin: 15rem 0 5rem 0;
}

.cards {
  font-family: "Karla";
  justify-content: center;
  margin-top: 2rem;
}

.cards Text, Heading {
  font-family: "Karla";
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.footer h3 {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.footer a {
  font-family: "Karla", sans-serif;
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  .footer {
    flex-wrap: wrap;
    text-align: center;
  }
}

.footer img {
  height: 50%;
}

@media (max-width: 800px) {
  .footer img {
    width: 50%;
    margin: 0;
  }
}

.footer-image {
  width: 20%;
  margin-right: 2em;
  display: flex;
  justify-content: center;
}

.footer-list {
  width: 20%;
  margin: 1em;

}

@media (max-width: 800px) {
  .footer-image,
  .footer-list {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-image {
    margin: 10px;
  }
}
